@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.react-multi-carousel-dot-list {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}